<head>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
        <!-- <link rel="stylesheet" href="app.component.css"> -->
        <style>
          #prodTable{
            /* background-color:aliceblue; */
            position:center;
            border: 5;
            width: 100%;
            height: 100%
    
          }
         
    
   
        </style>
    
    </head>

<p>{{parentData}}</p>
       
         <div class="row">
           <div class="col-sm-6">
 
               <table border="2" id="prodTable" cellspacing="3">
                   <tr>
                     <th>product List</th>
                     <th>Action</th>
                   </tr>
                   <tr>
                       <td>product 1</td>
                       <td>
                           <br><button type="button" class="btn btn-success"  (click)="onClickMe1()">Details</button><br></td>
                   </tr>
                   <tr>
                     <td>product 2</td>
                     <td><br><button type="button"   class="btn btn-success" (click)="onClickMe2()">Details</button></td>
                   </tr>
                   <tr>
                       <td>product 3</td>
                       <td><br><button type="button"   class="btn btn-success" (click)="onClickMe3()">Details</button></td>
                   </tr>
                   <tr>
                       <td>product 4</td>
                       <td><br><button type="button"   class="btn btn-success" (click)="onClickMe4()">Details</button></td>
                   </tr>
                 </table>
             
           </div>

         </div>
       

